body {
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
}

.table th {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.table td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.table {
  text-align: left;
  overflow: hidden;
  width: 80%;
  border-radius: 10px;
  border-collapse: collapse;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.table td,
.table th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

.table th:nth-child(1) {
  width: 50px;
  padding-left: 0%;
}

.table th:nth-child(2) {
  width: 800px;
}

.table tr:nth-child(odd) {
  background-color: #323c50;
}

.table tr:nth-child(even) {
  background-color: #2c3446;
}

.table th {
  background-color: #1f2739;
}

tbody tr:last-child {
  border: 0;
}

th:last-child {
  border-top-right-radius: 10px;
}

/*NOTE: hover*/

.table tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.table td:nth-child(2):hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;

  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .table td:nth-child(4),
  .table th:nth-child(4) {
    display: none;
  }
}

tr {
  border-bottom: 2px solid;
}

tr,
td,
th {
  padding: 10px;
  text-align: center;
}

/* NOTE: tooltips*/

.tr-tooltip {
  background-color: #000;
  zoom: 1;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

td {
  position: relative;
}

td:hover .tooltip {
  display: flex;
}

.tooltip {
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
  top: 35px;
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  display: none;
  white-space: pre-line;
  word-break: break-all;
  width: auto;
  height: auto;
}

.tooltip:after {
  content: "";
  position: absolute;
  top: -5px;
  right: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #000 transparent transparent;
  transform: rotate(90deg) translateY(-50%);
}

/* NOTE: task Complete Icons*/

form .task-complete-icon {
  color: #11dc00;
  background-color: #11dc00;
  border: 1px solid #11dc00;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}

form .task-incomplete-icon {
  color: #979c96;
  background-color: #979c96;
  border: 1px solid #979c96;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}
