{% extends "base/main.html" %}
{% block head %}
    {% load static %}
    <link href="{% static 'css/task_list.css' %}" rel="stylesheet" />
{% endblock head %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Complete</th>
                <th>Title and Description</th>
                <th>Average</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <form method="post" name="complete">
                            {% csrf_token %}
                            <input type="hidden" name="pk" value={{ task.id }}>
                            <input class="task-{{ task.complete|yesno:',in' }}complete-icon"
                                   type="submit"
                                   value="">
                        </form>
                    </td>
                    <td>
                        {{ task }}
                        <div class="tooltip">
                            {% if task.description %}
                                {% load string_tags %}
                                {{ task.description|linebreaksbr|newLine }}"
                            {% else %}
                                No Description
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ task.create }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
