{% extends "base/main.html" %}
{% block head %}
    {% load static %}
    <link href="{% static 'css/test.css' %}" rel="stylesheet" />
{% endblock head %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    Harsh
                    <div class="tooltip">
                        <p>Tooltip</p>
                        <p>Tooltip</p>
                        <p>Tooltip</p>
                        <p>Tooltip</p>
                        <p>Tooltip</p>
                    </div>
                </td>
                <td>
                    Patel
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    @Harsh
                    <div class="tooltip">Tooltip</div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Sharad
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    Aeshi
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    @Sharad
                    <div class="tooltip">Tooltip</div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Prashant
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    Patel
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    @Prashant
                    <div class="tooltip">Tooltip</div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Anant
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    Patel
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    @Anant
                    <div class="tooltip">Tooltip</div>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    shubham
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    Maurya
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    @shubham
                    <div class="tooltip">Tooltip</div>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    Pratik
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    Lukhi
                    <div class="tooltip">Tooltip</div>
                </td>
                <td>
                    @Pratik
                    <div class="tooltip">Tooltip</div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
